<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir nou llibre</title>
</head>
<body>
    <center>
        <H1>Inserció de nou llibre</H1>
            <form action="/inserir" method="post">
                Id del Llibre: <input type="text" name="idLlibre"><br><br>
                Titol: <input type="text" name="titol"><br><br>
                Autor: <input type="text" name="autor"><br><br>
                Editorial: <input type="text" name="editorial"><br><br>
                Data de publicacio: <input type="text" name="datapublicacio"><br><br>
                Tematica: <input type="text" name="tematica"><br><br>
                <input type=submit name="submit" value="Desar">
            </form>
        <p><a href="/index">Tornar enrere</a></p>   
    </center>
</body>
</html>
