<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accés a l'aplicació</title>
</head>
<body>
    <center>
        <H1>Llibreria del poble</H1>
            <form action="/index" method="post">
                Login: <input type="text" name="usuari"><br><br>
                Password: <input type="text" name="password"><br><br>
                <input type=submit name="submit" value="Accedir">
            </form>
    </center>
</body>
</html>
