body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
